body{
font-family:Arial;
margin:0;
background:#111;
color:#fff;
transition:0.3s;
}

header{
display:flex;
justify-content:space-between;
padding:15px;
background:#1e1e1e;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.container{
padding:20px;
}

button{
padding:10px;
background:#007bff;
border:none;
color:white;
cursor:pointer;
margin:10px 0;
}

iframe{
width:100%;
height:300px;
background:white;
border:none;
margin-top:10px;
}

.light{
background:#f4f4f4;
color:#000;
}

.CodeMirror{
height:300px;
border:1px solid #444;
}
